%containers_main_items {
    background-color: rgba(34, 34, 34, 0.87);
    border-radius: 2rem;
    margin: 0 1rem;
}

%containers_main {
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
}

%font {
    color: antiquewhite;
    font-size: large;
    line-height: 1.5;
}

%flex_center {
    justify-content: center;
    align-items: center;
}

%bottons {
    background-color: rgb(27, 27, 27);
    color: antiquewhite;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
    border: solid antiquewhite 2px;
    text-decoration: none;
}