/* INDEX */ 
@import "../base/fonts";
@import "../base/colors";

.carousel-item img {
    max-width: 100%;
    height: 80vh;
}



main {
        font-family: "Font_Text";
        color: $font_color;
        margin-top: 6vh;
    .contenedor_main {
        width: 95%;
        max-width: 1500px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2rem;
        @media (max-width: 480px) {
            display: flex;
            flex-wrap: wrap;
        }   
        .seccion_main {
            .contenedor_seccion_mixmax, .contenedor_seccion_beatmaking, .contenedor_seccion_filmscoring {
                background-color: rgba(34, 34, 34, 0.87);
                border-radius: 2rem;
                margin:0 1em; 
                font-size: 1.5rem;
                height: 100%;
                @media (max-width: 480px) {
                    margin-top: 1em;
                }   
                }

                h2 {
                    font-size: 1.5vw;
                    padding-top: 1rem;
                    margin: 1rem 0;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    @media (max-width: 480px) {
                        font-size: 2vw;
                    }               
                

                }
                .contenedor_imagenesmain{
                    padding: 1rem 0.2rem;
                    img {
                        border-radius: 1rem;
                        width: 100%;
                        height: 100%;
                    }
                    }

                    a {

                    }
                p {
                    text-align: center;
                    font-size: 1.5vw;
                    padding: 1rem 1rem;
                    @media (max-width: 480px) {
                        font-size: 8px;
                    }                      
                
                }    
                }
            }
        }

