/* SERVICIOS */
@import "../base/extends";

main {
    #container_servicios {
        #container_main_servicios{
            background-color: rgba(46, 46, 46, 0.658);
            border-radius: 0.5rem;
            color: white;
            margin: 3rem 2em; 
            @media (max-width: 768px) {
                margin: 3rem auto;
            } 
            div {

            }
            div {
                img {
                    border-radius: 0.5rem;
                    margin: 1rem 0rem 1rem 0rem;
                }   
            }
            div {
                div {
                    div {
                        h2 {
                            margin: 1rem;         
                        }
                    }
                    div {
                        p {
                            
                        }
                        a {
                            display: flex;
                            justify-content: center;
                            @extend %bottons;
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
    
    
}