/* SERVICIOS */

main {
    #container_servicios {
        #container_main_servicios{
            background-color: rgba(46, 46, 46, 0.658);
            border-radius: 0.5rem;
            color: white;
            margin: 3rem 1rem; 
            div {

            }
            div {
                img {
                    border-radius: 0.5rem;
                    margin: 1rem 0rem 1rem 0rem;
                }   
            }
            div {
                div {
                    div {
                        h2 {
                            margin: 1rem;         
                        }
                    }
                    div {
                        p {
                            
                        }
                    }
                }
            }
        }
    }
    
    
}